/* global styling */
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* body styling */
body {
  background-color: #f2f3f4;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 0rem;
}

.container-1 {
  width: 40px;
  position: absolute;
  right: 0%;
  top: 180%;
  opacity: 0.3;
}

/* style the header */
.header__image {
  max-width: 410px;
  width: 100%;
  height: 420%;
}

h6 {
  position: absolute;
  bottom: 70%;
}

.header__title {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: 2rem;
  padding-top: 25px;
  margin: 135px;
  margin-bottom: 75px;
  margin-top: 100px;
}

.header__search-bar {
  display: flex;
  justify-content: space-between;
  width: 395px;
  padding: 0px;
  margin: 0px auto;
  box-shadow: 0px 0px 0px #f2f3f4;
  margin-left: 40px;
}

.header__search-bar:hover {
  box-shadow: 0px 3px 5px #f2f3f4;
}

.search-bar__input {
  font-size: 1rem;
  width: 90%;
  border: none;
  padding: 0.5rem;
  outline-color: #f2f3f4;
}

.search-bar__button {
  padding: 0.75rem;
  border: none;
  outline-color: #f2f3f4;
  background-color: #f2f3f4;
  cursor: pointer;
}
.search-bar__input:disabled,
.search-bar__button:disabled {
  cursor: not-allowed;
}
/* user results styling */
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  overflow: hidden;
}

.results__items {
  justify-content: center;
  background: #f2f3f4;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  overflow: hidden;
}

.results__error {
  color: #ef0000;
}

.results__item {
  background: #f2f3f4;
  border-radius: 5px;
  display: inline-block;
  height: 275px;
  margin: 1rem;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  overflow: hidden;
}
.results__item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.results__item__title {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  margin: 20px;
}
.results__item__intro {
  margin: 0 20px;
  padding-bottom: 20px;
  padding-left: 350px;
}

.results-bar {
  width: 100%;
  margin: 90px;
}
/* book shelf styling */
.book-app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 4rem;
}
.second-search {
  font-size: 17px;
  margin: 10px;
  width: 25%;
  height: 40px;
  border: none;
  outline: none;
}

.button {
  background-color: #f2f3f4;
  border: none;
  color: #2b2b2b;
  padding: 13px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
}
/* clear user results styling */
.clear {
  background-color: #f2f3f4;
  border: none;
  color: #2b2b2b;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  body {
    width: 100%;
  }
}
