* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #d3d3d3;
  font-size: 16px; 
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 3rem;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Puzzle2_found_bw.jpg/640px-Puzzle2_found_bw.jpg);
}

.header__image {
  max-width: 300px;
  width: 100%;
}

.header__title {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.header__search-bar {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 5px;
  border: 1px solid #f4f4f4;
  margin: 40px auto;
  box-shadow: 0px 2px 4px #dfdfdf;
}

.header__search-bar:hover {
  box-shadow: 0px 3px 5px #c0c0c0;
}

.search-bar__input {
  font-size: 1rem;
  width: 85%;
  border: none;
  padding: 0.5rem;
  outline-color: #1c1b1b;
}

.search-bar__button {
  padding: 0.75rem;
  border: none;
  outline-color: #1c1b1b;
  background-color: #fcfcfc;
  cursor: pointer;
}
.search-bar__input:disabled,
.search-bar__button:disabled {
  cursor: not-allowed;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results__error {
  color: #ef0000;
}

.results__item {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 275px;
  margin: 1rem;
  /* position: relative; */
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  overflow: hidden;
}
.results__item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.results__item__title {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  margin: 20px;
}
.results__item__intro {
  margin: 0 20px;
  padding-bottom: 20px;
}
.book-app {
  padding-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 3rem;
  background-image: url(https://media.istockphoto.com/photos/background-of-thick-closed-books-lying-in-large-piles-picture-id1205089021?b=1&k=20&m=1205089021&s=170667a&w=0&h=0CIKsNVcWSqtnXaQ8qyV9ykeyTYugU310UVIeWxSHmE=);
}
.second-search {
  margin-left: 2%;
}
